<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layouts/dashboard}">

<head>

<title>Listes des emprunts</title>
</head>

<body>
<div class="main-content container-fluid" layout:fragment="content">

<div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="page-title">
					    <h3>List emprunts</h3>
					</div>
					<form th:action="@{/emprunts}">
				     <input type="text" class=" border-primary " name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Search livre title, genre, ISBN, ou langue" required />
				    &nbsp;
				    <input type="submit" class="btn border-primary " value="Search" />
				    &nbsp;
				    <a class="btn border-primary "value="Clear"  th:href="@{/emprunts}" > Clear </a>
				</form>
                    <div class="d-flex " th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a class="btn btn-success btn-sm" th:href="@{/createLivreForm}">Ajouter Livre</a>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class='table mb-0' id="table1">
                            <thead>
                            <tr>
								<th scope="col">ISBN</th>
					            <th scope="col">Titre</th>
					            <th scope="col">Auteur</th>
					           	<th scope="col">Genre</th>
					           	<th scope="col">Langue </th>
					           	<th scope="col">Quantité</th>
					           	<th th:if="${#authorization.expression('hasRole(''ADMIN'')')}" scope="col">Action</th>
					        </tr>
                            </thead>
                            <tbody>
                            <tr scope="row" th:each="livre : ${emprunts.content}">
					            <td th:text="${livre.ISBN}"></td>
					            <td>
									<a th:href="@{'/emprunts/' + ${livre.livre_id}}" >
					        			<span th:text="${livre.titre}"></span>
					    			</a>
								</td>
					            <td>
									<a th:href="@{'/auteurs/' + ${livre.auteur.auteur_id}}" >
					        			<span th:text="${livre.auteur.nom + ' ' + livre.auteur.prenom}"></span>
					    			</a>
								</td>
					            <td th:text="${livre.genre}"></td>
					            <td th:text="${livre.langue}"></td>
					            <td th:text="${livre.quantite}"></td>
					            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
					            <!-- Add buttons for delete and update -->
					            <form th:action="@{'/emprunts/delete/' + ${livre.livre_id}}" method="post">
					                <input type="hidden" name="_method" value="delete" />
					                <button type="submit" onClick="return confirm('sure?')" class="btn btn-danger btn-sm">Delete</button>
					            
					                <a th:href="@{'/updateLivreForm/' + ${livre.livre_id}}" class="btn btn-primary btn-sm">Update</a>
					            </form>
					            
					            </td>
					        </tr>
                            </tbody>
                        </table>
					     <nav aria-label="Page navigation" class="d-flex justify-right mt-3">
					        <ul class="pagination">
					            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
					                <a class="page-link" th:href="@{/emprunts(page=0)}">First</a>
					            </li>
					            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
					                <a class="page-link" th:href="@{/emprunts(page=${currentPage - 1})}">Previous</a>
					            </li>
					            <li class="page-item" th:each="i : ${#numbers.sequence(0, emprunts.totalPages - 1)}"
					                th:classappend="${currentPage == i ? 'active' : ''}">
					                <a class="page-link" th:href="@{/emprunts(page=${i})}" th:text="${i + 1}"></a>
					            </li>
					            <li class="page-item" th:classappend="${currentPage == emprunts.totalPages - 1 ? 'disabled' : ''}">
					                <a class="page-link" th:href="@{/emprunts(page=${currentPage + 1})}">Next</a>
					            </li>
					            <li class="page-item" th:classappend="${currentPage == emprunts.totalPages - 1 ? 'disabled' : ''}">
					                <a class="page-link" th:href="@{/emprunts(page=${emprunts.totalPages - 1})}">Last</a>
					            </li>
					        </ul>
					    </nav>
                        <!-->
                        <div th:if="${emprunts.totalPages > 0}" class="pagination"
						    th:each="pageNumber : ${pageNumbers}">
						    <a th:href="@{/emprunts(size=${emprunts.size}, page=${pageNumber})}"
						        th:text=${pageNumber}
						        th:class="${pageNumber==emprunts.number + 1} ? active"></a>
						</div>
						<!-->
                    </div>
                </div>
            </div>


</div>
</body>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/emprunts}]]";
    }
</script>
</html>